body{
    
    background-image: url(imagen/pngtree-abstract-modern-neon-frame-background-image_339537.jpg);
    
}
table {
   
    width: 150%;
    border-collapse: collapse;
    border: 3px solid purple;
}

.container {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
    display: grid;
    gap: 2em;
    place-content: center;
    width: 400px;
    
    
}

.container input[type=radio] {
    display: none;
}

.input-btn:is(:checked)+.neon-btn .span {
    inset: 2px;
    background-color: #4090b5;
    background: repeating-linear-gradient(to bottom, transparent 0%, #4090b5 1px, #4090b5 3px, #4090b5 5px, #4090b5 4px, transparent 0.5%), repeating-linear-gradient(to left, hsl(295, 60%, 12%) 100%, hsl(295, 60%, 12%) 100%);
    box-shadow: inset 0 40px 20px hsl(296, 59%, 10%);
}


h1 {
    color: rgb(230, 13, 13);
    text-align: center;
    margin-top: 50px;
}

table.td {
    color: rgb(212, 3, 20);
    text-align: center;
}

table.td:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

    {
    text-align: center;
}

form {
    color: brown;
    text-align: center;
    margin-top: 50px;
}

form:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

label {

    color: rgb(211, 8, 143);
    text-align: center;
    display: block
}

button {

    background-color: cyan;
    color: rgb(199, 15, 15);
    box-shadow: 0 0 5px cyan,
        0 0 35px cyan;
    border-radius: 5px
}

button:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;

}

input {
    text-align: center;
}
