
.topo {
    padding-top: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;

    font-size: 12px;
    text-align: center;
}

.header {
    text-align: center;
    background-color: #d81455;
    padding-top: 10px;
    padding-bottom: 10px;
}